---
title: Roshka Studios
layout: default
---
<body class="no-sidebar">
    {% include nav.html %}

    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">

            <!-- Content -->
            <article class="box post">
                <a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/about.jpg" alt="" /></a>
                <header>
                    <h2>IMPROVING YOUR ENTERTAINMENT!</h2>
                </header>
                <header>
                <section>
                    <header>
                        <h3>WHO WE ARE</h3>
                    </header>
                    <p>
                        Roshka Studios is a videogame startup of "Roshka", one of the top software development company in Paraguay.
                    </p>
                    <p>
                        Our goal is to create experiences that feels amazing for everyone! From the gameplay to the aesthetics, we aim to let our players do things that are only possible in their imagination.
                    </p>
                </section>
                 <section>
                    <header>
                        <h3>WHAT WE DO</h3>
                    </header>
                    <p>
                        We work independently to create our own games or in collaboration with publishing partners. We have talented people from programmers to 2d & 3d artists to make the ideas come real.
                    </p>
                </section>
                <section>
                    <header>
                        <h3>LET'S WORK TOGETHER</h3>
                    </header>
                    <p>
                        Have a project to create or want to be the next publisher of our projects? <a href="{{ site.baseurl }}/contact.html">Contact us!</a>
                    </p>
                </section>

                {% include carousel.html height="65" unit="%" duration="7" %}

            </article>

        </div>
    </div>
