 <!-- About Section -->
    <section class="success" id="about">
        <div class="container" style="background-color: #012e4896;padding: 2em;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Roshka Studios is the game division of "Roshka", a software company based in Asuncion, Paraguay. We create games for all audiencies with the the objective to entertained you. We have a highly talented team of artist and programmers to make your ideas real. If you are looking to work with a highly talented team to bring your ideas to this world, let's get in touch!</p>
                </div>
            </div>
        </div>
    </section>
