		<!-- Footer -->
			<div id="footer-wrapper">
				<section id="footer" class="container">
					<div class="row">
						<div class="8u">
							<section>
								
								<header>
									<h2>Follow us!</h2>
								</header>
								<ul class="social">
									<li><a class="icon fa-discord" href="https://discord.gg/ppYGkAqcqB"><span class="label">Discord</span></a></li>
									<li><a class="icon fa-instagram" href="https://instagram.com/roshkastudios"><span class="label">Instagram</span></a></li>
									<li><a class="icon fa-facebook" href="https://facebook.com/roshkastudios"><span class="label">Facebook</span></a></li>
									<li><a class="icon fa-twitter" href="https://twitter.com/roshkastudios"><span class="label">Twitter</span></a></li>
								</ul>
								<ul class="contact">
									<li>
										<h3>Mail</h3>
										<p>play@roshka.com</p>
									</li>
									<li>
										<h3>Find Us</h3>
										<p>Tte Cusmanich 867. Asunción. Paraguay</p>
									</li>
								</ul>
							
								<header>
									<h3>Trabajá con nosotros</h3>
									<a href="{{ site.baseurl }}/jobs.html"><p>¿Cómo aplico?</p></a>
								</header>
							</section>
						</div>
						<div class="4u">
							<section>
								<header>
									<h2>About us</h2>
								</header>
								<a href="{{ site.baseurl }}/about.html" class="image featured"><img src="{{ site.baseurl }}/assets/images/miniAbout.jpg" alt="" /></a>
								<p>We are the top-notch, crème de la crème, with the most talented and skilled fellas in our lines at a videogame development studio in Paraguay</p>
							</section>
						</div>
					</div>
					<div class="row">
						<div class="12u">

							<!-- Copyright -->
								<div id="copyright">
									<ul class="links">
										<li>&copy; Roshka Studios. All rights reserved.</li>
									</ul>
								</div>

						</div>
					</div>
				</section>
			</div>

	</body>
</html>
