<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					
					
					<!-- Banner -->
						<section style="position: relative;overflow-y: hidden;margin: 0 0 0 0;height: 32em;overflow-x: hidden;border-bottom: rgb(114, 0, 255);border-bottom-width: thick;border-bottom-style: solid;">
							<div id="banner"></div>
							<img id="imgLogo" src="{{ site.baseurl }}/assets/images/logo.png" alt="" />
							
						</section>

						<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<i class="icon featured fa-gamepad"></i>
										<header>
											<h2>INDIE GAMES</h2>
										</header>
										<p>We are an independent videogame studio with our own ideas and projects. We focus on games that can be played by anyone.</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon featured alt fa-desktop"></i>
										<header>
											<h2>GAME STUDIO</h2>
										</header>
										<p>Whenever you need 2d/3d art, Unity3D, Unreal Engine, PhaserJS or PlayCanvas coders or the whole team, we have it.</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon featured alt2 fa-rocket"></i>
										<header>
											<h2>ADVERGAMING</h2>
										</header>
										<p>Looking to engage your audience? We can develop games for Facebook, Web, Mobile, VR, Augmented Reality and more!.</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="{{ site.baseurl }}/about.html" class="button big">About us</a></li>
									<li><a href="{{ site.baseurl }}/contact.html" class="button alt big">Get in touch</a></li>
								</ul>
							</footer>
						</section>

				</div>
			</div>